{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url}}" width="300" height="350">
        </div>
<div class="col-md-6">
    <h4>{{movie.name}}</h4>
    <h6>{{movie.desc}}</h6>
    <h6>{{movie.year}}</h6>
    <a class="btn btn-warning" href="{% url 'movieapp:movieupdate' movie.id %}">update</a>
    <a class="btn btn-danger" href="{% url 'movieapp:moviedelete' movie.id %}">delete</a>
</div>
    </div>
</div>

{% endblock %}
